In [1]:
import pandas as pd

In [3]:
s = pd.Series(list('alshashjfejkewlrlwerwelkf'))
s

0     a
1     l
2     s
3     h
4     a
5     s
6     h
7     j
8     f
9     e
10    j
11    k
12    e
13    w
14    l
15    r
16    l
17    w
18    e
19    r
20    w
21    e
22    l
23    k
24    f
dtype: object

In [4]:
s.unique()

array(['a', 'l', 's', 'h', 'j', 'f', 'e', 'k', 'w', 'r'], dtype=object)

In [5]:
s.value_counts()

l    4
e    4
w    3
a    2
s    2
h    2
j    2
f    2
k    2
r    2
dtype: int64

In [9]:
dados=pd.read_csv('dados/aluguel_residencial.csv', sep=';')

In [10]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           18780
Casa de Condomínio      996
Casa                    965
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64

In [12]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [14]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25