In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha'+ str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
data = {'Linha'+ str(i): i + 1 for i in range(5) }

In [11]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [13]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [14]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## DataFrame

In [15]:
data = [[1,2,3], 
        [4,5,6],
        [7,8,9]]

In [16]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
df1 = pd.DataFrame(data = data)

In [18]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
index = ['Linha'+ str(i) for i in range (3)]

In [20]:
index

['Linha0', 'Linha1', 'Linha2']

In [21]:
df1 = pd.DataFrame(data = data, index = index)

In [22]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [23]:
columns = ['Coluna'+ str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [24]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [25]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [26]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [27]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [28]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4